@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');
 
body{
    background-color:rgb(117, 66, 7);
    font-family: 'Fondamento', cursive;
    color: white;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.summText{
    font-size: 50px;
    font-weight:bold;
    height:33.33%;
}

p{
    font-size:20px;
    margin:5px;
}

#wallpaper{
    position:relative;
    float:left;
}

#barSign{
    display: flex;
}

#titContainer{
    float:left;
    position:relative;
    height:120px;
    width:1000px;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#title{
    width:960px;
    height:80px;
    line-height:80px;
    background-color:black;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    letter-spacing:5px;
    border: 4px solid gold;
}

#signImgContainer{
    float:left;
    width:150px;
    margin-right: 20px;
}

#scoringContainer{
    float:left;
    position:relative;
    height:120px;
    width:160px;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#playerHand{
    display:grid;
}

#scoring{
    height:80px;
    margin:0;
    background-color:black;
    text-transform: uppercase;
    text-align: center;
    letter-spacing:5px;
    border: 4px solid gold;
}

#gameArea{
    
    display:flex;
/* 	top:10px;
	left:0;
    width:550px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;    
    -webkit-flex-flow: row wrap;
    flex-direction: column; */
}

.areaColumn{
    float:left;
    width:33.33%;
}

#introText{
    display:flex;
    align-items:center;
    justify-content:center;  
}

#tag{
    position: relative;
    font-size: 20px;
    text-align:center;
    font-weight: bold;
}

#imgBox{
    position:relative;
}

#img_placeholder{
    float:left;
}

#comp_placeholder{
    float:right;
}

#compTitle{
    text-align:right;
}

#computerChoice{
    float:right;
    top:10px;
    display:block;
}

#resultsArea{
    font-weight: bold;
    font-size:50px; 
    text-align:center;
    display:flex;
    flex-direction: column;
}

#resultsWords{
    display:flex;
    flex-direction: column;
    height:300px;
}

#annouceArea{
    display:flex;
}

#results{
    font-weight: bold;
    font-size:40px;
    color:red;
    text-align: center;
}

#swapButtons{
    padding-top:10px;
    
}

.LaR{
    align-items:center;
    height:30px;
    width:180px;
    font-size:20px;
}

#next{
    margin-left:20px;
}

#prev{
    margin-left:10px;
}

#ChooseButton{
    align-items:center;
    height:30px;
    margin-top:10px;
}

